<template>
  <div class="top-buttons">
    <Button
        @click="redirectToWalletPage()"
        raised
        rounded
        icon="pi pi-times"
    />
  </div>
    <div class="spacer-2rem"></div>
    <h1 class="title">{{ page }}</h1>
    <div class="spacer-3rem"></div>
    <h3 class="section-title">Wallet balance</h3>
    <div class="spacer-1rem"></div>
    <div class="card">
      <p>
        <span class="balance">{{ displayBalance }}</span> BTC
      </p>
      <p v-if="expiryDate != null" class="help">
        <span class="pi pi-stopwatch"></span>
        Expiring on {{ expiryDate }}
      </p>
    </div>
    <div v-if="page == 'Top up'">
        <div class="spacer-2rem"></div>
        <h3 class="section-title">Personal balance</h3>
        <div class="spacer-1rem"></div>
        <div class="card">
            <p>
                <span class="balance">{{ displayPersonalBalance }}</span> BTC
            </p>
        </div>
    </div>
    <div class="spacer-2rem"></div>
    <h3 class="section-title"> {{ page }}</h3>
    <div class="spacer-1rem"></div>
    <form
      @submit="startSigningPhase()"
      @submit.prevent="onSubmit"
      class="flex-column-gap1"
    >
      <div v-if="page == 'Top up'">
        <InputNumber
          v-model="amount"
          :min="1"
          :max="personalBalance"
          :minFractionDigits="0"
          :maxFractionDigits="2"
          placeholder="Amount (BTC)"
        />
        <p class="help">The minimum top up amount is 1 BTC.</p>
      </div>
      <div>
        <Calendar dateFormat="dd/mm/yy" showIcon v-model="expirationDate" :minDate="minDate" :manualInput="false" />
        <p class="help">The new expiration date cannot be less than 7 days away or less than the current one.</p>
      </div>
      <Button
        raised
        :label="'Sign & ' + page"
        icon="pi pi-check-circle"
        type="submit"
        :loading="loading"
        :disabled="!expirationDate || (page == 'Top up' && amount < 1)"
      />
    </form>
    <Dialog
      :draggable="false"
      v-model:visible="signingPhase"
      modal
      :header="'Sign & ' + page"
      :style="{ width: '90%', 'max-width': '750px' }"
    >
      <div class="spacer-1rem"></div>
      <div class="card">
        <p class="description" v-if="page == 'Top up'">
          <span class="pi pi-info-circle"></span> You are about to top up 
          {{ amount.toFixed(2) }} BTC.
        </p>
        <p class="description" v-else>
          <span class="pi pi-info-circle"></span> You are about to extend your wallet to 
          {{ expirationDate.toLocaleDateString("fr") }}.
        </p>
        <div class="spacer-1rem"></div>
        <p class="description">
          <span class="pi pi-check-circle"></span> Please select how you want to
          sign your transactions.
        </p>
        <div class="spacer-1rem"></div>
        <Button
          icon="pi pi-file"
          label="Download transactions"
          severity="secondary"
          @click="downloadAllTxs()"
        />
        <div class="spacer-1rem"></div>
      </div>
      <div class="flex-column-center" style="margin-top: 2rem">
        <SelectButton v-model="sigMethod" :options="sigOptions" />
        <div class="spacer-1rem"></div>
        <div v-if="sigMethod == 'Auto'" class="flex-column-center">
          <span class="p-input-icon-left">
            <i class="pi pi-key" />
            <InputText v-model="privateKey" placeholder="Private key" />
          </span>
          <p class="help" style="text-align: center">
            Your private key will never be transmitted to our platform or stored
            anywhere.
          </p>
          <div class="spacer-1rem"></div>
          <Button
            raised
            label="Confirm"
            icon="pi pi-arrow-up-right"
            type="submit"
            :loading="creationValidationLoading"
            @click="confirmCreation()"
          />
        </div>
        <div v-else class="flex-column-center">
          <span class="p-input-icon-left">
            <i class="pi pi-pencil" />
            <InputText v-model="creation_sig" placeholder="Signature (creation)" />
          </span>
          <p class="help" style="text-align: center">
            You can use the Wizard to sign the transaction.
          </p>
          <div class="spacer-1rem"></div>
          <span class="p-input-icon-left">
            <i class="pi pi-pencil" />
            <InputText v-model="distribution_sig" placeholder="Signature (distribution)" />
          </span>
          <div class="spacer-1rem"></div>
          <Button
            raised
            label="Confirm"
            icon="pi pi-arrow-up-right"
            type="submit"
            :loading="creationValidationLoading"
            @click="confirmCreation()"
          />
        </div>
      </div>
    </Dialog>
</template>

<script setup>
import { ref, computed, watch, onMounted, onBeforeMount } from "vue";
import Button from "primevue/button";
import InputNumber from "primevue/inputnumber";
import InputText from "primevue/inputtext";
import Dialog from "primevue/dialog";
import Calendar from 'primevue/calendar';
import SelectButton from "primevue/selectbutton";
import { DateTime } from "luxon";
import { useRouter, useRoute } from "vue-router";
const router = useRouter();
const route = useRoute();
import Axios from "axios";
import { useToast } from "primevue/usetoast";
const toast = useToast();
import JSZip from 'jszip';
import FileSaver from 'file-saver';


import { useDefaultStore } from "../stores/index";
const store = useDefaultStore();

const props = defineProps({
  page: {
    type: String,
    required: true,
  },
});

const loading = ref(false);
const signingPhase = ref(false);
const amount = ref(0);
const expirationDate = ref(null);
const ISOExpirationDate = computed(() => {
  if (expirationDate.value != null) {
    //return iso string without milliseconds using the suppressmillis params
    let date = DateTime.fromJSDate(expirationDate.value)
    // set milliseconds to 0 (suppressmillis applies only if milliseconds are 0)
    date = date.set({ millisecond: 0 })
    return date.toISO({ suppressMilliseconds: true })
  } else {
    return null;
  }
});
const creation_tx = ref(null);
const distribution_tx = ref(null);
const refund_tx = ref(null);
const processId = ref(null);
const sigMethod = ref("Auto");
const sigOptions = ref(["Auto", "Manual"]);
const privateKey = ref(null);
const creation_sig = ref(null);
const distribution_sig = ref(null);
const creationValidationLoading = ref(false);

function startSigningPhase() {
  loading.value = true;
  // initiate the channel creation process
  const data = {
    amount: amount.value,
    expiration_date: ISOExpirationDate.value,
  };
  const config = {
    headers: {
      Authorization: "Bearer " + store.JWTtoken,
    },
  };
  const url = store.backendAPIURL + "channel/initiate";
  // make a post request to the backend
  Axios.post(url, data, config)
    .then((response) => {
      if (response.status == 200) {
        processId.value = response.data.process_id;
        creation_tx.value = response.data.creation_tx;
        distribution_tx.value = response.data.distribution_tx;
        refund_tx.value = response.data.refund_tx;
        // show the signing phase dialog
        signingPhase.value = true;
      } else if (response.status == 401) {
        // Unauthorized
        store.signout();
        router.push({ name: "signin" });
        toast.add({
          severity: "error",
          summary: "Signed out",
          detail: "You need to sign in again.",
          life: 3000,
        });
      } else {
        console.log(response);
      }
    })
    .catch((error) => {
      if (error.response) {
        // Request made and server responded
        if (error.response.status == 401) {
          // Unauthorized
          store.signout();
          router.push({ name: "signin" });
          toast.add({
            severity: "error",
            summary: "Signed out",
            detail: "You need to sign in again.",
            life: 3000,
          });
        } else if (error.response.data.message) {
          toast.add({
            severity: "error",
            summary: "Error",
            detail: error.response.data.message,
            life: 3000,
          });
        } else {
          toast.add({
            severity: "error",
            summary: "Server error",
            detail: "Something went wrong.",
            life: 3000,
          });
          console.log(error.response);
        }
      } else if (error.request) {
        // The request was made but no response was received
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Server did not respond.",
          life: 3000,
        });
        store.checkAPIs();
        router.push({ name: "welcome" });
      } else {
        // Something happened in setting up the request that triggered an Error
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Something went wrong.",
          life: 3000,
        });
        console.log("Error", error);
      }
    })
    .finally(() => {
      loading.value = false;
    });
}

function validateCreation() {
  const url = store.backendAPIURL + "channel/validate";
  const data = {
    process_id: processId.value,
    creation_tx_sig: creation_sig.value,
    distribution_tx_sig: distribution_sig.value,
  };
  const config = {
    headers: {
      Authorization: "Bearer " + store.JWTtoken,
    },
  };
  Axios.post(url, data, config)
    .then((response) => {
      if (response.status == 200) {
        toast.add({
          severity: "success",
          summary: props.page + " successful",
          detail: "Your " + props.page + " request has been received. Changes will appear soon",
          life: 3000,
        });
        store.fetchUserData();
      } else if (response.status == 401) {
        // Unauthorized
        store.signout();
        router.push({ name: "signin" });
        toast.add({
          severity: "error",
          summary: "Signed out",
          detail: "You need to sign in again.",
          life: 3000,
        });
      } else {
        console.log(response);
      }
    })
    .catch((error) => {
      if (error.response) {
        // Request made and server responded
        if (error.response.status == 401) {
          // Unauthorized
          store.signout();
          router.push({ name: "signin" });
          toast.add({
            severity: "error",
            summary: "Signed out",
            detail: "You need to sign in again.",
            life: 3000,
          });
        } else if (error.response.data.message) {
          toast.add({
            severity: "error",
            summary: "Error",
            detail: error.response.data.message,
            life: 3000,
          });
        } else {
          toast.add({
            severity: "error",
            summary: "Server error",
            detail: "Something went wrong.",
            life: 3000,
          });
          console.log(error.response);
        }
      } else if (error.request) {
        // The request was made but no response was received
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Server did not respond.",
          life: 3000,
        });
        store.checkAPIs();
        router.push({ name: "welcome" });
      } else {
        // Something happened in setting up the request that triggered an Error
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Something went wrong.",
          life: 3000,
        });
        console.log("Error", error);
      }
    })
    .finally(() => {
      creationValidationLoading.value = false;
      signingPhase.value = false;
    }
  );
}

function confirmCreation() {
  creationValidationLoading.value = true;
  // sign if sigMethod is auto, send the transaction
  if (sigMethod.value == "Auto") {
    const url = store.cryptoAPIURL + "sign_hash";
    const data1 = {
      hash: creation_tx.value.header.hash,
      "private key": privateKey.value,
    };
    const data2 = {
        hash: distribution_tx.value.header.hash,
        "private key": privateKey.value,
    }
    Promise.all([
        Axios.post(url, data1),
        Axios.post(url, data2)
    ]).then((responses) => {
        if (responses[0].status == 200 && responses[1].status == 200) {
            creation_sig.value = responses[0].data;
            distribution_sig.value = responses[1].data;
            validateCreation();
        } else {
            toast.add({
                severity: "error",
                summary: "Server error",
                detail: "Something went wrong.",
                life: 3000,
            });
        }
    }).catch((error) => {
        toast.add({
            severity: "error",
            summary: "Server error",
            detail: "Something went wrong.",
            life: 3000,
        });
        creationValidationLoading.value = false;
        console.log(error);
    });
  } else {
    validateCreation();
  }
}

function convertToReadableDate(date) {
  // receives and ISO date string, converts to local time and return date in dd/mm/yyyy hh:mm format
  return DateTime.fromISO(date).toLocal().toFormat("dd/MM/yyyy HH:mm");
}

function redirectToWalletPage() {
  router.push({ name: "wallet" });
}

const displayBalance = computed(() => {
  if (store.userData.wallet_balance) {
    return store.userData.wallet_balance.toFixed(2);
  } else {
    return (0.0).toFixed(2);
  }
});

const balance = computed(() => {
  if (store.userData.wallet_balance) {
    return store.userData.wallet_balance;
  } else {
    return 0.0;
  }
});

const expiryDate = computed(() => {
  if (
    store.userData.funds_expiration_date != null &&
    store.userData.funds_expiration_date != ""
  ) {
    return convertToReadableDate(store.userData.funds_expiration_date);
  } else {
    return null;
  }
});

const personalBalance = computed(() => {
  if (store.userData.user_personal_balance) {
    return store.userData.user_personal_balance
  } else {
    return 0.0
  }
});

const displayPersonalBalance = computed(() => {
  if (store.userData.user_personal_balance) {
    return store.userData.user_personal_balance.toFixed(2);
  } else {
    return "N/A"
  }
});

const minDate = computed(() => {
    let inEightDays = DateTime.local().plus({ days: 8 })
  if (store.userData.funds_expiration_date != null) {
    let currentExpirationDatePlusOne = DateTime.fromISO(store.userData.funds_expiration_date).plus({ days: 1 })
    // return the min date between 8 days from now and 1 day after the current expiration date
    return DateTime.max(inEightDays, currentExpirationDatePlusOne).toJSDate();
  } else {
    return inEightDays.toJSDate();
  }
});

function downloadAllTxs() {
    const zip = new JSZip();
    const creationTx = JSON.stringify(creation_tx.value, null, 4);
    const distributionTx = JSON.stringify(distribution_tx.value, null, 4);
    const refundTx = JSON.stringify(refund_tx.value, null, 4);
    zip.file("creation_tx.json", creationTx);
    zip.file("distribution_tx.json", distributionTx);
    zip.file("refund_tx.json", refundTx);
    zip.generateAsync({ type: "blob" }).then(function (content) {
        saveAs(content, "transactions.zip");
    });
}

</script>

<style scoped></style>
