<template>
    <ConfirmDialog style="max-width:90vw"></ConfirmDialog>
    <div class="top-buttons">
        <Button @click="refresh()" :loading="refreshLoading" raised rounded icon="pi pi-refresh" />
        <Button @click="logOut()" raised rounded icon="pi pi-sign-out" />
    </div>
    <nav class="shadow">
        <ul>
            <li>
                <button @click="goToPage('pay')" @click.prevent="onClick">
                    <i :class="{'pi pi-bolt navIcon' : true, 'selected-icon' : selectedPage.pay}"></i>
                </button>
            </li>
            <li>
                <button @click="goToPage('wallet')" @click.prevent="onClick">
                    <i :class="{'pi pi-wallet navIcon' : true, 'selected-icon' : selectedPage.wallet}"></i>
                </button>
            </li>
            <li>
                <button @click="goToPage('user')" @click.prevent="onClick">
                    <i :class="{'pi pi-user navIcon' : true, 'selected-icon' : selectedPage.user}"></i>
                </button>
            </li>
        </ul>
    </nav>
    <div class="navigation-bar-padder"></div>
</template>

<script setup>
import { ref, computed, watch, onMounted } from "vue";
import 'primeicons/primeicons.css';
import Button from "primevue/button";
import ConfirmDialog from 'primevue/confirmdialog';
import { useRouter, useRoute } from "vue-router";
const router = useRouter();
const route = useRoute();

import { useDefaultStore } from '../stores/index'
const store = useDefaultStore()

import { useConfirm } from "primevue/useconfirm";
const confirm = useConfirm();

import { useToast } from 'primevue/usetoast';
const toast = useToast();

const props = defineProps({
    page: {
        type: String,
        required: true,
    },
});

const selectedPage = computed(() => {
    return {
        pay: props.page == "pay",
        wallet: props.page == "wallet",
        user: props.page == "user",
    }
});

function goToPage(page) {
    if (page != props.page) {
        router.push({ name: page });
    }
}

function logOut() {
    confirm.require({
        message: 'Are you sure you want to sign out?',
        header: 'Sign out',
        icon: 'pi pi-sign-out',
        accept: () => {
            store.signout();
            router.push({ name: "welcome" });
            toast.add({ severity: 'success', summary: 'Signed out', detail: 'Successfully signed out.', life: 3000 });
        },
        reject: () => {
            // do nothing
        }
    });
}

const refreshLoading = ref(false);

function refresh() {
    refreshLoading.value = true;
    store.fetchUserData();
    store.fetchUserHistory();
    refreshLoading.value = false;
    toast.add({ severity: 'success', summary: 'Refreshed', detail: 'Successfully refreshed.', life: 3000 });
}

onMounted(() => {
    //fetch user data and history (we do it here because this element is common to all authenticated pages)
    store.fetchUserData();
    store.fetchUserHistory();
});
</script>

<style scoped>
nav {
    width: 80vw;
    background: var(--text-color);
    position: fixed;
    left: 10vw;
    bottom: 2rem;
    z-index: 100000;
    padding: 0.3rem;
    border-radius: 1.5rem;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    padding: 1rem 0;
}

nav button {
    background: none;
    border: none;
}

i.navIcon {
    color: var(--text-on-primary);
    font-size: 1.9rem;
    background-color: var(--text-color);
    border: none;
}

i.selected-icon {
    color: var(--custom-blue);
}

/*modifications pour les écrans plus larges*/
@media screen and (min-width: 500px) {
    nav {
        width: 60vw;
        left: 20vw;
    }
}


@media screen and (min-width: 800px) {
    nav {
        width: 40vw;
        left: 30vw;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        width: 30vw;
        left: 35vw;
    }
}
</style>
