<template>
  <div>
    <div class="spacer-2rem"></div>
    <h1 class="title">Pay</h1>
    <div class="spacer-3rem"></div>
    <h3 class="section-title">Wallet balance</h3>
    <div class="spacer-1rem"></div>
    <div class="card">
      <p>
        <span class="balance">{{ displayBalance }}</span> BTC
      </p>
      <p v-if="expiryDate != null" class="help">
        <span class="pi pi-stopwatch"></span>
        Expiring on {{ expiryDate }}
      </p>
    </div>
    <div class="spacer-2rem"></div>
    <h3 class="section-title">New Payment</h3>
    <div class="spacer-1rem"></div>
    <form
      @submit="startSigningPhase()"
      @submit.prevent="onSubmit"
      class="flex-column-gap1"
    >
      <div>
        <InputNumber
          v-model="amount"
          :min="0.01"
          :max="balance"
          :minFractionDigits="0"
          :maxFractionDigits="2"
          placeholder="Amount (BTC)"
        />
        <p class="help">The minimum payment amount is 0.01 BTC.</p>
      </div>
      <div>
        <Dropdown
          v-model="selectedMerchant"
          :options="merchants"
          optionLabel="name"
          placeholder="Select a Merchant"
        >
          <template #value="slotProps">
            <div
              v-if="slotProps.value"
              class="flex-row-gap1"
              style="align-items: center"
            >
              <Avatar :image="backendUrl + slotProps.value.image" />
              <div>{{ slotProps.value.name }}</div>
            </div>
            <span v-else>
              {{ slotProps.placeholder }}
            </span>
          </template>
          <template #option="slotProps">
            <div class="flex-row-gap1" style="align-items: center">
              <Avatar :image="backendUrl + slotProps.option.image" />
              <div>{{ slotProps.option.name }}</div>
            </div>
          </template>
        </Dropdown>
        <p class="help">Select the merchant you wish to pay.</p>
      </div>
      <Button
        raised
        label="Sign & Pay"
        icon="pi pi-arrow-up-right"
        type="submit"
        :loading="loading"
        :disabled="balance < 0.01 || !selectedMerchant || amount > balance || !openChannelActionsAllowed"
      />
    </form>
    <Dialog
      :draggable="false"
      v-model:visible="signingPhase"
      modal
      header="Sign & Pay"
      :style="{ width: '90%', 'max-width': '750px' }"
    >
      <div class="spacer-1rem"></div>
      <div class="card">
        <p class="description">
          <span class="pi pi-info-circle"></span> You are about to send
          {{ amount.toFixed(2) }} BTC to {{ selectedMerchant.name }}.
        </p>
        <div class="spacer-1rem"></div>
        <p class="description">
          <span class="pi pi-check-circle"></span> Please select how you want to
          sign the transaction.
        </p>
        <div class="spacer-1rem"></div>
        <Button
          icon="pi pi-file"
          label="Download the transaction"
          severity="secondary"
          @click="downloadPaymentTx()"
        />
      </div>
      <div class="flex-column-center" style="margin-top: 2rem">
        <SelectButton v-model="sigMethod" :options="sigOptions" />
        <div class="spacer-1rem"></div>
        <div v-if="sigMethod == 'Auto'" class="flex-column-center">
          <span class="p-input-icon-left">
            <i class="pi pi-key" />
            <InputText v-model="privateKey" placeholder="Private key" />
          </span>
          <p class="help" style="text-align: center">
            Your private key will never be transmitted to our platform or stored
            anywhere.
          </p>
          <div class="spacer-1rem"></div>
          <Button
            raised
            label="Confirm"
            icon="pi pi-arrow-up-right"
            type="submit"
            :loading="paymentValidationLoading"
            @click="confirmPayment()"
          />
        </div>
        <div v-else class="flex-column-center">
          <span class="p-input-icon-left">
            <i class="pi pi-pencil" />
            <InputText v-model="signature" placeholder="Signature" />
          </span>
          <p class="help" style="text-align: center">
            You can use the Wizard to sign the transaction.
          </p>
          <div class="spacer-1rem"></div>
          <Button
            raised
            label="Confirm"
            icon="pi pi-arrow-up-right"
            type="submit"
            :loading="paymentValidationLoading"
            @click="confirmPayment()"
          />
        </div>
      </div>
    </Dialog>
    <NavigationController page="pay" />
  </div>
</template>

<script setup>
import { ref, computed, watch, onMounted } from "vue";
import Button from "primevue/button";
import InputNumber from "primevue/inputnumber";
import SelectButton from "primevue/selectbutton";
import InputText from "primevue/inputtext";
import Avatar from "primevue/avatar";
import Dropdown from "primevue/dropdown";
import Dialog from "primevue/dialog";
import NavigationController from "./NavigationController.vue";
import { useRouter, useRoute } from "vue-router";
import { DateTime } from "luxon";
import Axios from "axios";
const router = useRouter();
const route = useRoute();
import { useToast } from "primevue/usetoast";
const toast = useToast();

import { useDefaultStore } from "../stores/index";
const store = useDefaultStore();

onMounted(() => {
  store.fetchMerchants();
});

const openChannelActionsAllowed = computed(() => {
  return store.userData.open_channel_actions_allowed;
});

const displayBalance = computed(() => {
  if (store.userData.wallet_balance) {
    return store.userData.wallet_balance.toFixed(2);
  } else {
    return (0.0).toFixed(2);
  }
});

const balance = computed(() => {
  if (store.userData.wallet_balance) {
    return store.userData.wallet_balance;
  } else {
    return 0.0;
  }
});

const expiryDate = computed(() => {
  if (
    store.userData.funds_expiration_date != null &&
    store.userData.funds_expiration_date != ""
  ) {
    return convertToReadableDate(store.userData.funds_expiration_date);
  } else {
    return null;
  }
});

const backendUrl = computed(() => {
  return store.backendURL;
});

const merchants = computed(() => {
  return store.merchants;
});

function convertToReadableDate(date) {
  // receives and ISO date string, converts to local time and return date in dd/mm/yyyy hh:mm format
  return DateTime.fromISO(date).toLocal().toFormat("dd/MM/yyyy HH:mm");
}

const loading = ref(false);
const amount = ref(null);
const selectedMerchant = ref(null);
const metadata = ref({});
const distribution_tx = ref(null);
const processId = ref(null);
const signingPhase = ref(false);
const sigMethod = ref("Auto");
const sigOptions = ref(["Auto", "Manual"]);
const privateKey = ref(null);
const signature = ref(null);
const paymentValidationLoading = ref(false);

function downloadPaymentTx() {
  const blob = new Blob([JSON.stringify(distribution_tx.value, null, 4)], {
    type: "text/plain",
  });
  const link = document.createElement("a");
  link.href = window.URL.createObjectURL(blob);
  link.download = "payment_tx.json";
  link.click();
}

function startSigningPhase() {
  loading.value = true;
  // initiate the payment process
  const data = {
    amount: amount.value,
  };
  const config = {
    headers: {
      Authorization: "Bearer " + store.JWTtoken,
    },
  };
  const url = store.backendAPIURL + "payment/initiate";
  // make a post request to the backend
  Axios.post(url, data, config)
    .then((response) => {
      if (response.status == 200) {
        processId.value = response.data.process_id;
        distribution_tx.value = response.data.distribution_tx;
        // show the signing phase dialog
        signingPhase.value = true;
      } else if (response.status == 401) {
        // Unauthorized
        store.signout();
        router.push({ name: "signin" });
        toast.add({
          severity: "error",
          summary: "Signed out",
          detail: "You need to sign in again.",
          life: 3000,
        });
      } else {
        console.log(response);
      }
    })
    .catch((error) => {
      if (error.response) {
        // Request made and server responded
        if (error.response.status == 401) {
          // Unauthorized
          store.signout();
          router.push({ name: "signin" });
          toast.add({
            severity: "error",
            summary: "Signed out",
            detail: "You need to sign in again.",
            life: 3000,
          });
        } else if (error.response.data.message) {
          toast.add({
            severity: "error",
            summary: "Error",
            detail: error.response.data.message,
            life: 3000,
          });
        } else {
          toast.add({
            severity: "error",
            summary: "Server error",
            detail: "Something went wrong.",
            life: 3000,
          });
          console.log(error.response);
        }
      } else if (error.request) {
        // The request was made but no response was received
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Server did not respond.",
          life: 3000,
        });
        store.checkAPIs();
        router.push({ name: "welcome" });
      } else {
        // Something happened in setting up the request that triggered an Error
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Something went wrong.",
          life: 3000,
        });
        console.log("Error", error);
      }
    })
    .finally(() => {
      loading.value = false;
    });
}

function validatePayment() {
  const url = store.backendAPIURL + "payment/validate";
  const data = {
    process_id: processId.value,
    distribution_tx_sig: signature.value,
    merchant_id: selectedMerchant.value.id,
    metadata: metadata.value,
  };
  const config = {
    headers: {
      Authorization: "Bearer " + store.JWTtoken,
    },
  };
  Axios.post(url, data, config)
    .then((response) => {
      if (response.status == 200) {
        toast.add({
          severity: "success",
          summary: "Payment successful",
          detail: "Your payment has been sent.",
          life: 3000,
        });
        store.fetchUserData();
      } else if (response.status == 401) {
        // Unauthorized
        store.signout();
        router.push({ name: "signin" });
        toast.add({
          severity: "error",
          summary: "Signed out",
          detail: "You need to sign in again.",
          life: 3000,
        });
      } else {
        console.log(response);
      }
    })
    .catch((error) => {
      if (error.response) {
        // Request made and server responded
        if (error.response.status == 401) {
          // Unauthorized
          store.signout();
          router.push({ name: "signin" });
          toast.add({
            severity: "error",
            summary: "Signed out",
            detail: "You need to sign in again.",
            life: 3000,
          });
        } else if (error.response.data.message) {
          toast.add({
            severity: "error",
            summary: "Error",
            detail: error.response.data.message,
            life: 3000,
          });
        } else {
          toast.add({
            severity: "error",
            summary: "Server error",
            detail: "Something went wrong.",
            life: 3000,
          });
          console.log(error.response);
        }
      } else if (error.request) {
        // The request was made but no response was received
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Server did not respond.",
          life: 3000,
        });
        store.checkAPIs();
        router.push({ name: "welcome" });
      } else {
        // Something happened in setting up the request that triggered an Error
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Something went wrong.",
          life: 3000,
        });
        console.log("Error", error);
      }
    })
    .finally(() => {
      paymentValidationLoading.value = false;
      signingPhase.value = false;
    }
  );
}

function confirmPayment() {
  paymentValidationLoading.value = true;
  // sign if sigMethod is auto, send the transaction
  if (sigMethod.value == "Auto") {
    const url = store.cryptoAPIURL + "sign_hash";
    const data = {
      hash: distribution_tx.value.header.hash,
      "private key": privateKey.value,
    };
    Axios.post(url, data).then((response) => {
      if (response.status == 200 && response.data != "Error in sign_hash") {
        signature.value = response.data;
        validatePayment();
      } else {
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Something went wrong.",
          life: 3000,
        });
      }
    }).catch((error)=>{
      toast.add({
        severity: "error",
        summary: "Server error",
        detail: "Something went wrong.",
        life: 3000,
      });
      paymentValidationLoading.value = false;
      console.log(error);
    });
  } else {
    validatePayment();
  }
}
</script>

<style scoped>
</style>
