<template>
  <div>
    <div class="top-buttons">
      <Button
        @click="redirectToWelcomePage()"
        raised
        rounded
        icon="pi pi-times"
      />
    </div>
    <div class="spacer-2rem"></div>
    <h1 class="title">Register</h1>
    <div class="spacer-1rem"></div>
    <h2 class="subtitle">Welcome to Paylight.</h2>
    <div class="spacer-4rem"></div>
    <p class="description">
      Fill out the form below entirely to create your Paylight account.
    </p>
    <div class="spacer-1rem"></div>
    <form
      @submit="register"
      @submit.prevent=""
      class="flex-column-gap1"
    >
      <span class="p-input-icon-left">
        <i class="pi pi-user" />
        <InputText v-model="name" placeholder="First name" />
      </span>
      <span class="p-input-icon-left">
        <i class="pi pi-user" />
        <InputText v-model="surname" placeholder="Surname" />
      </span>
      <span class="p-input-icon-left">
        <i class="pi pi-key" />
        <InputText v-model="publicKey" placeholder="Public key" />
      </span>
      <span class="p-input-icon-left">
        <i class="pi pi-envelope" />
        <InputText v-model="email" placeholder="Email" />
      </span>
      <div>
        <Password
          v-model="password"
          toggleMask
          placeholder="Password"
          :strongRegex="strongPasswordRegex"
        />
        <p class="help">
          <i class="pi pi-lock"></i> Minimum 8 characters, 1 lowercase letter, 1
          uppercase letter, 1 symbol (<span style="color: var(--custom-blue)"
            >-_!@#$%^&*()/,.;:</span
          >), and 1 number
        </p>
      </div>
      <div>
        <FileUpload
          mode="basic"
          auto
          name="demo[]"
          url=""
          accept="image/*"
          :maxFileSize="10000000"
          customUpload
          @uploader="onUpload"
          chooseLabel="Upload ID card image"
          style="
            background-color: var(--custom-blue);
            border-color: var(--custom-blue);
          "
        />
        <p v-if="!imageUploaded" class="help">
          <i class="pi pi-id-card"></i> Choose a photo of your ID card (JPG,
          JPEG, PNG)
        </p>
        <p v-else class="help">
          <i class="pi pi-check-circle"></i> Image uploaded.
        </p>
      </div>
      <Button
        :loading="loading"
        raised
        label="Register"
        icon="pi pi-user-plus"
        type="submit"
      />
    </form>
    <div class="spacer-4rem"></div>
    <p class="question">
      Already have an account ? Go to the sign-in page.
      <i class="pi pi-stopwatch"></i>
    </p>
    <div class="spacer-1rem"></div>
    <Button
      label="Go to the sign-in page"
      icon="pi pi-sign-in"
      @click="redirectToSignIn()"
      raised
      severity="secondary"
    />
  </div>
</template>

<script setup>
import { ref, computed, watch, onMounted } from "vue";
import Button from "primevue/button";
import InputText from "primevue/inputtext";
import Password from "primevue/password";
import { useToast } from "primevue/usetoast";
import FileUpload from "primevue/fileupload";
import Axios from "axios";
import { useDefaultStore } from "../stores/index";
const store = useDefaultStore();

const toast = useToast();

const strongPasswordRegex = ref(
  "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\-_!@#$%^&*()\/,.;:])(?=.{8,})"
);

import { useRouter, useRoute } from "vue-router";
const router = useRouter();
const route = useRoute();

function redirectToSignIn() {
  router.push({ name: "signin" });
}

function onSubmit() {
  console.log("onSubmit");
}

const url = computed(() => store.backendAPIURL + "register");
const name = ref("");
const surname = ref("");
const publicKey = ref("");
const email = ref("");
const password = ref("");
let formData = new FormData();
const imageUploaded = ref(false);
const loading = ref(false);

function register() {
  loading.value = true;
  formData.append("name", name.value);
  formData.append("surname", surname.value);
  formData.append("public_key", publicKey.value);
  formData.append("email", email.value);
  formData.append("password", password.value);
  Axios.post(url.value, formData, {
    headers: {
      "Content-Type": "multipart/form-data",
    },
  })
    .then((response) => {
      if (response.status === 201) {
        // verify there is a token field in response.data
        if (!response.data.token) {
          toast.add({
            severity: "error",
            summary: "Server error",
            detail: "NO token returned by the server.",
            life: 3000,
          });
          loading.value = false;
          return;
        }

        const token = response.data.token;
        store.signin(token);
        toast.add({
          severity: "success",
          summary: "Success",
          detail: "Your account has been created.",
          life: 3000,
        });
        router.push({ name: "pay" });
      } else {
        if (response.data.message) {
          toast.add({
            severity: "error",
            summary: "Server error",
            detail: response.data.message,
            life: 3000,
          });
        } else {
          toast.add({
            severity: "error",
            summary: "Server error",
            detail: "Server returned an error.",
            life: 3000,
          });
        }
      }
    })
    .catch((error) => {
      if (error.response) {
        // Request made and server responded
        if (error.response.data.message) {
          toast.add({
            severity: "error",
            summary: "Error",
            detail: error.response.data.message,
            life: 3000,
          });
        } else {
          toast.add({
            severity: "error",
            summary: "Server error",
            detail: "Server returned an error.",
            life: 3000,
          });
        }
      } else if (error.request) {
        // The request was made but no response was received
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Server did not respond.",
          life: 3000,
        });
        store.checkAPIs();
        router.push({ name: "welcome" });
      } else {
        // Something happened in setting up the request that triggered an Error
        toast.add({
          severity: "error",
          summary: "Server error",
          detail: "Something went wrong.",
          life: 3000,
        });
      }
    })
    .finally(() => {
      loading.value = false;
    });
}

function redirectToWelcomePage() {
  router.push({ name: "welcome" });
}

const onUpload = async (event) => {
  imageUploaded.value = true;
  const file = event.files[0];
  // add the file to FormData object
  formData.append("id_card", file);
};
</script>

<style scoped></style>
