<template>
  <div>
    <div class="top-buttons">
      <Button @click="redirectToWelcomePage()" raised rounded icon="pi pi-times" />
    </div>
    <div class="spacer-2rem"></div>
    <h1 class="title">Sign In</h1>
    <div class="spacer-1rem"></div>
    <h2 class="subtitle">Welcome back.</h2>
    <div class="spacer-4rem"></div>
    <p class="description">
      Enter your credentials to sign in to your Paylight account.
    </p>
    <div class="spacer-1rem"></div>
    <form @submit="signIn()" @submit.prevent="onSubmit" class="flex-column-gap1">
      <span class="p-input-icon-left">
        <i class="pi pi-envelope" />
        <InputText v-model="email" placeholder="Email" />
      </span>
      <Password v-model="password" :feedback="false" toggleMask placeholder="Password" />
      <Button raised label="Sign-in" icon="pi pi-sign-in" type="submit" :loading="loading" />
    </form>
    <div class="spacer-4rem"></div>
    <p class="question">
      Don't have an account ? Create an account in less than 5 minutes.
      <i class="pi pi-stopwatch"></i>
    </p>
    <div class="spacer-1rem"></div>
    <Button
      label="Create a Paylight account"
      icon="pi pi-user-plus"
      @click="redirectToRegister()"
      raised
      severity="secondary"
    />
  </div>
</template>

<script setup>
import { ref, computed, watch, onMounted } from "vue";
import Button from "primevue/button";
import InputText from 'primevue/inputtext';
import Password from 'primevue/password';
import { useToast } from 'primevue/usetoast';
import Axios from 'axios'
import { useDefaultStore } from '../stores/index'
const store = useDefaultStore()

const toast = useToast();

import { useRouter, useRoute } from "vue-router";
const router = useRouter();
const route = useRoute();

const email = ref("");
const password = ref("");
const loading = ref(false);

function signIn() {
  loading.value = true;
  // make a login request
  const loginURL = store.backendAPIURL + "login";
  const requestBody = {
    username: email.value,
    password: password.value,
  };
  Axios.post(loginURL, requestBody)
    .then((response) => {
      if (response.status == 200) {
        // verify there is a token field in response.data
        if (!response.data.token) {
          toast.add({ severity: 'error', summary: 'Server error', detail: 'NO token returned by the server.', life: 3000 });
          loading.value = false;
          return;
        }

        const token = response.data.token;
        store.signin(token);
        router.push({ name: "pay" });

      } else {
        if (response.data.message) {
          toast.add({ severity: 'error', summary: 'Server error', detail: response.data.message, life: 3000 });
        } else {
          toast.add({ severity: 'error', summary: 'Server error', detail: 'Server returned an error.', life: 3000 });
        }
      }
      loading.value = false;
    })
    .catch((error) => {
      if (error.response) {
        // Request made and server responded
        if (error.response.data.message) {
          toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message, life: 3000 });
        } else {
          toast.add({ severity: 'error', summary: 'Server error', detail: 'Server returned an error.', life: 3000 });
        }
      } else if (error.request) {
        // The request was made but no response was received
        toast.add({ severity: 'error', summary: 'Server error', detail: 'Server did not respond.', life: 3000 });
        store.checkAPIs();
        router.push({ name: "welcome" });
      } else {
        // Something happened in setting up the request that triggered an Error
        toast.add({ severity: 'error', summary: 'Server error', detail: 'Something went wrong.', life: 3000 });
      }
      loading.value = false;
    });
}

function redirectToRegister() {
  router.push({ name: "register" });
}

function redirectToWelcomePage() {
  router.push({ name: "welcome" });
}

</script>

<style scoped></style>
