<template>
  <div>
    <div class="spacer-2rem"></div>
    <h1 class="title">User</h1>
    <div class="spacer-3rem"></div>
    <h3 class="section-title">User information</h3>
    <div class="spacer-1rem"></div>
    <div class="card flex-column-gap1">
      <p>
        <span class="pi pi-user"></span>
        <span style="font-weight:600"> Full name : </span>
        <span>{{ user.user.name + ' ' + user.user.surname }}</span>
      </p>
      <p>
        <span class="pi pi-envelope"></span>
        <span style="font-weight:600"> Email : </span>
        <span>{{ user.user.email }}</span>
      </p>
      <p>
        <span class="pi pi-key"></span>
        <span style="font-weight:600"> Public key : </span>
        <span style="word-break: break-all;">{{ user.user.public_key }}</span>
      </p>
      <p v-if="user.user_personal_balance != null">
        <span class="pi pi-credit-card"></span>
        <span style="font-weight:600"> Personal balance : </span>
        <span>{{ user.user_personal_balance.toFixed(2)}} BTC</span>
      </p>
      <Button @click="showIdCard()" :loading="idLoading" severity="secondary" raised label="See my ID card" icon="pi pi-eye" />
      <Dialog :draggable="false" v-model:visible="idCardVisible" modal header="ID card" :style="{ width: '80vw' }">
        <img :src="idCardLink" alt="id card image" style="width: 100%;">
      </Dialog>
    </div>
    <div class="spacer-2rem"></div>
    <h3 class="section-title">Security</h3>
    <div class="spacer-1rem"></div>
    <div class="card flex-column-gap1">
      <div>
        <p class="description"><span class="pi pi-unlock"></span> Download my last refund transaction.</p>
        <p class="help">This special transaction helps you recover your funds in case od dispute.</p>
      </div>
      <Button @click="downloadRefundTx()" :disabled="!user.open_channel_actions_allowed" :loading="refundLoading" raised label="Download" icon="pi pi-cloud-download" />
      <div class="spacer-1rem"></div>
      <div>
        <p class="description"><span class="pi pi-code"></span> Download the Python Wizard.</p>
        <p class="help">This program helps you verify our signatures and sign transactions yourself.</p>
      </div>
      <Button @click="downloadWizard()" :loading="wizardLoading" raised label="Download" icon="pi pi-cloud-download" />
    </div>
    <NavigationController page="user" />
  </div>
</template>

<script setup>
import { ref, computed, watch, onMounted } from "vue";
import Button from "primevue/button";
import Dialog from 'primevue/dialog';
import NavigationController from "./NavigationController.vue";
import { useToast } from 'primevue/usetoast';
import { Buffer } from "buffer";
window.Buffer = window.Buffer || Buffer;
const toast = useToast();

import { useRouter, useRoute } from "vue-router";
const router = useRouter();
const route = useRoute();

import { useDefaultStore } from "../stores/index";
const store = useDefaultStore();

import Axios from "axios";

const user = computed(() => {
  return store.userData;
});

const idLoading = ref(false);
const refundLoading = ref(false);
const wizardLoading = ref(false);

function downloadRefundTx() {
  refundLoading.value = true;
  const config = {
    headers: { Authorization: 'Bearer ' + store.JWTtoken }
  };
  Axios.get(store.backendAPIURL + 'channel/refund_tx', config).then((response)=> {
    refundLoading.value = false;
    if (response.status == 200) {
      const blob = new Blob([JSON.stringify(response.data, null, 4)], { type: "text/plain" });
      const link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      link.download = "refund_tx.json";
      link.click();
    } else if (response.status == 401) {
      // Unauthorized
      store.signout();
      router.push({ name: "signin" });
      toast.add({ severity: 'error', summary: 'Signed out', detail: 'You need to sign in again.', life: 3000 });
    } else {
      console.log(response);
    }
  }).catch((error) => {
    refundLoading.value = false;
    if (error.response) {
      // Request made and server responded
      if (error.response.status == 401) {
        // Unauthorized
        store.signout();
        router.push({ name: "signin" });
        toast.add({ severity: 'error', summary: 'Signed out', detail: 'You need to sign in again.', life: 3000 });
      } else {
        toast.add({ severity: 'error', summary: 'Server error', detail: 'Something went wrong.', life: 3000 });
        console.log(error.response);
      }
    } else if (error.request) {
      // The request was made but no response was received
      toast.add({ severity: 'error', summary: 'Server error', detail: 'Server did not respond.', life: 3000 });
      store.checkAPIs();
      router.push({ name: "welcome" });
    } else {
      // Something happened in setting up the request that triggered an Error
      toast.add({ severity: 'error', summary: 'Server error', detail: 'Something went wrong.', life: 3000 });
      console.log('Error', error);
    }
  });
}

function downloadWizard() {
  wizardLoading.value = true;
  const config = {
    headers: { Authorization: 'Bearer ' + store.JWTtoken }
  };
  Axios.get(store.backendAPIURL + "utils/wizard", config).then((response) => {
    wizardLoading.value = false;
    if (response.status == 200) {
      const blob = new Blob([response.data], { type: "text/plain" });
      const link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      link.download = "wizard.py";
      link.click();
    } else if (response.status == 401) {
      // Unauthorized
      store.signout();
      router.push({ name: "signin" });
      toast.add({ severity: 'error', summary: 'Signed out', detail: 'You need to sign in again.', life: 3000 });
    } else {
      console.log(response);
    }
  }).catch((error) => {
    wizardLoading.value = false;
    if (error.response) {
      // Request made and server responded
      if (error.response.status == 401) {
        // Unauthorized
        store.signout();
        router.push({ name: "signin" });
        toast.add({ severity: 'error', summary: 'Signed out', detail: 'You need to sign in again.', life: 3000 });
      } else {
        toast.add({ severity: 'error', summary: 'Server error', detail: 'Something went wrong.', life: 3000 });
        console.log(error.response);
      }
    } else if (error.request) {
      // The request was made but no response was received
      toast.add({ severity: 'error', summary: 'Server error', detail: 'Server did not respond.', life: 3000 });
      store.checkAPIs();
      router.push({ name: "welcome" });
    } else {
      // Something happened in setting up the request that triggered an Error
      toast.add({ severity: 'error', summary: 'Server error', detail: 'Something went wrong.', life: 3000 });
      console.log('Error', error);
    }
  });
}

const idCardVisible = ref(false);
const idCardLink = ref("");

function showIdCard() {
  idLoading.value = true;
  const config = {
    headers: { Authorization: 'Bearer ' + store.JWTtoken },
    responseType: 'arraybuffer'
  };
  Axios.get(store.backendAPIURL + 'user/idcard', config).then((response) => {
    idLoading.value = false;
    if (response.status == 200) {
      const b64image = Buffer.from(response.data, 'binary').toString('base64');
      const url = 'data:' + response.headers["content-type"] + ';base64,' + b64image;
      idCardLink.value = url;
      idCardVisible.value = true;
    } else if (response.status == 401) {
      // Unauthorized
      store.signout();
      router.push({ name: "signin" });
      toast.add({ severity: 'error', summary: 'Signed out', detail: 'You need to sign in again.', life: 3000 });
    } else {
      console.log(response);
    }
  }).catch((error) => {
    idLoading.value = false;
    if (error.response) {
      // Request made and server responded
      if (error.response.status == 401) {
        // Unauthorized
        store.signout();
        router.push({ name: "signin" });
        toast.add({ severity: 'error', summary: 'Signed out', detail: 'You need to sign in again.', life: 3000 });
      } else {
        toast.add({ severity: 'error', summary: 'Server error', detail: 'Something went wrong.', life: 3000 });
        console.log(error.response);
      }
    } else if (error.request) {
      // The request was made but no response was received
      toast.add({ severity: 'error', summary: 'Server error', detail: 'Server did not respond.', life: 3000 });
      store.checkAPIs();
      router.push({ name: "welcome" });
    } else {
      // Something happened in setting up the request that triggered an Error
      toast.add({ severity: 'error', summary: 'Server error', detail: 'Something went wrong.', life: 3000 });
      console.log('Error', error);
    }
  });
}
</script>

<style scoped></style>
