<template>
  <div>
    <div class="spacer-2rem"></div>
    <h1 class="title">Wallet</h1>
    <div class="spacer-3rem"></div>
    <h3 class="section-title">Current balance</h3>
    <div class="spacer-1rem"></div>
    <div class="card flex-column-gap1">
      <div>
        <p id="balance-text">
          <span class="balance">{{ balance }}</span> BTC
        </p>
        <p v-if="expiryDate != null" class="help">
          <span class="pi pi-stopwatch"></span>
          Expiring on {{ expiryDate }}
        </p>
      </div>
      <div class="flex-row-gap1">
        <Button
          iconClass="custom-button-icon"
          rounded
          raised
          icon="pi pi-plus"
          @click="deposit()"
        />
        <Button
          custom-icon-button
          rounded
          raised
          :disabled="!openChannel"
          icon="pi pi-arrow-up-right"
          @click="withdraw()"
        />
        <Button custom-icon-button rounded raised icon="pi pi-clock" @click="extend()" :disabled="!openChannel" />
      </div>
    </div>
    <div class="spacer-2rem"></div>
    <h3 class="section-title">History</h3>
    <div class="spacer-1rem"></div>
    <div v-if="events.length > 0" id="history-card" class="card">
      <Timeline :value="events">
        <template #marker="slotProps">
          <i
            :class="
              getIconFromType(slotProps.item.type) + ' history-element-marker'
            "
          ></i>
        </template>
        <template #opposite="slotProps">
          <small class="p-text-secondary">{{
            convertToReadableDate(slotProps.item.date)
          }}</small>
        </template>
        <template #content="slotProps">
          <div class="small-card" @click="displayDialogFor(slotProps.item)">
            <p>{{ slotProps.item.type }}</p>
            <p v-if="slotProps.item.type != 'extension'">
              {{ slotProps.item.amount.toFixed(2) }}
            </p>
            <p v-else>
              {{
                getDaysDifference(
                  slotProps.item.specific.new_expiration_date,
                  slotProps.item.specific.previous_expiration_date
                )
              }}
            </p>
          </div>
        </template>
      </Timeline>
    </div>
    <p v-else>
      Your history will appear as you start using Paylight... It might be time
      to top-up your account.
    </p>
    <Dialog
      :draggable="false"
      v-model:visible="visible"
      modal
      header="Details"
      :style="{ width: '80vw', 'max-width': '700px'}"
    >
      <div class="spacer-1rem"></div>
      <p>
        <span style="font-weight: 600">Type : </span>
        {{ selectedEvent.type }}
      </p>
      <div class="spacer-1rem"></div>
      <p>
        <span style="font-weight: 600">Date : </span>
        {{ convertToReadableDate(selectedEvent.date) }}
      </p>
      <div class="spacer-1rem"></div>
      <p>
        <span style="font-weight: 600">Amount : </span>
        {{ selectedEvent.amount.toFixed(2) }}
      </p>
      <div class="spacer-1rem"></div>
      <p>
        <span style="font-weight: 600">Pending : </span>
        {{ selectedEvent.pending ? "yes" : "no" }}
      </p>
      <div v-if="selectedEvent.type == 'payment'">
        <div class="spacer-1rem"></div>
        <p>
          <span style="font-weight: 600">To : </span>
          {{ selectedEvent.specific.merchant.merchant_name }}
        </p>
        <div class="spacer-1rem"></div>
        <div class="centered-avatar-container">
          <Avatar
            :image="backendUrl + selectedEvent.specific.merchant.merchant_image"
            size="xlarge"
          />
        </div>
      </div>
      <div v-if="selectedEvent.type == 'withdrawal'">
        <div class="spacer-1rem"></div>
        <p>
          <span style="font-weight: 600">To : </span>
          {{ selectedEvent.specific.withdrawal_address }}
        </p>
      </div>
      <div v-if="selectedEvent.type == 'expiration'">
        <div class="spacer-1rem"></div>
        <p>
          <span style="font-weight: 600">To : </span>
          {{ selectedEvent.specific.withdrawal_address }}
        </p>
        <div class="spacer-1rem"></div>
        <p>
          <span style="font-weight: 600">Expiry : </span>
          {{ convertToReadableDate(selectedEvent.specific.expiration_date) }}
        </p>
      </div>
      <div v-if="selectedEvent.type == 'top-up'">
        <div class="spacer-1rem"></div>
        <p>
          <span style="font-weight: 600">Expiry : </span>
          {{ convertToReadableDate(selectedEvent.specific.expiration_date) }}
        </p>
      </div>
      <div v-if="selectedEvent.type == 'extension'">
        <div class="spacer-1rem"></div>
        <p>
          <span style="font-weight: 600">From : </span>
          {{
            convertToReadableDate(
              selectedEvent.specific.previous_expiration_date
            )
          }}
        </p>
        <div class="spacer-1rem"></div>
        <p>
          <span style="font-weight: 600">To : </span>
          {{
            convertToReadableDate(selectedEvent.specific.new_expiration_date)
          }}
        </p>
        <div class="spacer-1rem"></div>
        <p>
          <span style="font-weight: 600">Difference : </span>
          {{
            getDaysDifference(
              selectedEvent.specific.new_expiration_date,
              selectedEvent.specific.previous_expiration_date
            )
          }}
        </p>
      </div>
    </Dialog>

    <NavigationController page="wallet" />
  </div>
</template>

<script setup>
import { ref, computed, watch, onMounted } from "vue";
import Button from "primevue/button";
import NavigationController from "./NavigationController.vue";
import Timeline from "primevue/timeline";
import Avatar from "primevue/avatar";
import Dialog from "primevue/dialog";
import { DateTime } from "luxon";
import { useConfirm } from "primevue/useconfirm";
const confirmWithdraw = useConfirm();
import Axios from "axios";
import { useToast } from "primevue/usetoast";
const toast = useToast();

import { useRouter, useRoute } from "vue-router";
const router = useRouter();
const route = useRoute();

import { useDefaultStore } from "../stores/index";
const store = useDefaultStore();

const balance = computed(() => {
  if (store.userData.wallet_balance) {
    return store.userData.wallet_balance.toFixed(2);
  } else {
    return (0.0).toFixed(2);
  }
});

const openChannel = computed(() => {
  return store.userData.open_channel_actions_allowed;
});

const backendUrl = computed(() => {
  return store.backendURL;
});

const expiryDate = computed(() => {
  if (
    store.userData.funds_expiration_date != null &&
    store.userData.funds_expiration_date != ""
  ) {
    return convertToReadableDate(store.userData.funds_expiration_date);
  } else {
    return null;
  }
});

const events = computed(() => {
  return store.userHistory;
});

function convertToReadableDate(date) {
  // receives and ISO date string, converts to local time and return date in dd/mm/yyyy hh:mm format
  return DateTime.fromISO(date).toLocal().toFormat("dd/MM/yyyy HH:mm");
}

function getIconFromType(type) {
  if (type === "top-up") {
    return "pi pi-plus";
  } else if (type === "withdrawal") {
    return "pi pi-arrow-up-right";
  } else if (type === "extension") {
    return "pi pi-clock";
  } else if (type === "payment") {
    return "pi pi-shopping-bag";
  } else if (type === "expiration") {
    return "pi pi-stopwatch";
  }
}

function displayDialogFor(event) {
  selectedEvent.value = event;
  visible.value = true;
}

function getDaysDifference(date1, date2) {
  // calculate the difference in days between the first and second date, dates are given as iso string, the result should be a string like +1day
  const date1Obj = DateTime.fromISO(date1);
  const date2Obj = DateTime.fromISO(date2);
  const diff = date1Obj.diff(date2Obj, "days").toObject();
  if (diff.days > 0) {
    return "+" + Math.round(diff.days) + " day(s)";
  } else if (diff.days < 0) {
    return Math.round(diff.days) + " day(s)";
  } else {
    return "+0 day";
  }
}

const selectedEvent = ref(null);
// history element details dialog
const visible = ref(false);

function withdraw() {
  confirmWithdraw.require({
    message:
      "All funds will be withdrawn from your wallet, to your public key. Are you sure?",
    header: "Withdraw",
    icon: "pi pi-arrow-up-right",
    accept: () => {
      const url = store.backendAPIURL + "withdraw";
      const config = {
        headers: {
          Authorization: "Bearer " + store.JWTtoken,
        },
      };
      // axios post request to URL with no data (only headers)
      Axios.post(url, {}, config)
        .then((response) => {
          if (response.status == 200) {
            // toast to confirm
            toast.add({
              severity: "success",
              summary: "Success",
              detail: "Withdrawal successful, changes will appear soon.",
              life: 3000,
            });
          } else if (response.status == 401) {
            // Unauthorized
            store.signout();
            router.push({ name: "signin" });
            toast.add({
              severity: "error",
              summary: "Signed out",
              detail: "You need to sign in again.",
              life: 3000,
            });
          } else {
            console.log(response);
          }
        })
        .catch((error) => {
          if (error.response) {
            // Request made and server responded
            if (error.response.status == 401) {
              // Unauthorized
              store.signout();
              router.push({ name: "signin" });
              toast.add({
                severity: "error",
                summary: "Signed out",
                detail: "You need to sign in again.",
                life: 3000,
              });
            } else if (error.response.data.message) {
              toast.add({
                severity: "error",
                summary: "Error",
                detail: error.response.data.message,
                life: 3000,
              });
            } else {
              toast.add({
                severity: "error",
                summary: "Server error",
                detail: "Something went wrong.",
                life: 3000,
              });
              console.log(error.response);
            }
          } else if (error.request) {
            // The request was made but no response was received
            toast.add({
              severity: "error",
              summary: "Server error",
              detail: "Server did not respond.",
              life: 3000,
            });
            store.checkAPIs();
            router.push({ name: "welcome" });
          } else {
            // Something happened in setting up the request that triggered an Error
            toast.add({
              severity: "error",
              summary: "Server error",
              detail: "Something went wrong.",
              life: 3000,
            });
            console.log("Error", error);
          }
        });
    },
    reject: () => {
      // do nothing
    },
  });
}

function deposit() {
  router.push({ name: "topup" });
}

function extend() {
  router.push({ name: "extend" });
}
</script>

<style scoped>

#balance-text {
  margin: 0.5rem 0;
}

#history-card {
  max-height: 50vh;
  overflow-y: auto;
}

.history-element-marker {
  font-size: 1rem;
  background-color: var(--text-color);
  color: var(--text-on-primary);
  border-radius: 50%;
  padding: 0.4rem;
}

.small-card {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 0.1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--text-on-primary);
  width: fit-content;
  min-width: 6.5em;
}

.small-card p {
  font-size: 1rem;
  color: var(--text-color);
}

.small-card p:first-child {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-color);
}

.centered-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
