<template>
  <div>
    <div class="spacer-2rem"></div>
    <h1 class="title">Paylight</h1>
    <div class="spacer-1rem"></div>
    <TypewriterSubtitle baseText="Pay anywhere" :displayTextArray="displayTextArray" />
    <div class="spacer-4rem"></div>
    <p class="description">Paylight is a global payment platform implementing the lightning network protocol for the BetterCoin cryptocurrency.</p>
    <div class="spacer-1rem"></div>
    <p class="description">Paylight allows you to pay at your local shops in a safe, easy and instant way while using BetterCoin.</p>
    <div class="spacer-1rem"></div>
    <Button raised label="Sign-in" icon="pi pi-sign-in" @click="redirectToSignIn()" :loading="checkingAPIs" :disabled="!allAPIsAvailable" />
    <div class="spacer-4rem"></div>
    <p class="question">New to Paylight ? Create an account in less than 5 minutes. <i class="pi pi-stopwatch"></i></p>
    <div class="spacer-1rem"></div>
    <Button raised label="Create a Paylight account" icon="pi pi-user-plus" @click="redirectToRegister()" :loading="checkingAPIs" :disabled="!allAPIsAvailable" />
    <div class="spacer-1rem"></div>
    <Message v-if="!allAPIsAvailable && !checkingAPIs" :closable="false" severity="error" sticky >Paylight is currently unavailable.</Message>
  </div>
</template>

<script setup>
import { ref, computed, watch, onMounted, onBeforeMount} from "vue";
import TypewriterSubtitle from "./TypewriterSubtitle.vue";
import Button from 'primevue/button';
import Message from 'primevue/message';

import { useDefaultStore } from '../stores/index'
const store = useDefaultStore()

import { useRouter, useRoute } from 'vue-router'
const router = useRouter()
const route = useRoute()

const displayTextArray = ref([
  "instantly.",
  "securely.",
]);

function redirectToSignIn() {
  router.push({ name: "signin" });
}

function redirectToRegister() {
  router.push({ name: "register" });
}

const checkingAPIs = computed(() => {
  return store.checkingAPIs
})

const allAPIsAvailable = computed(() => {
  return store.allAPIsActive
})

</script>

<style scoped>
</style>
