html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  padding: 2rem;
  --custom-blue: #a9bfc9;
  --text-on-primary: #f7f5f7;
  /* the commmon black (primary color) is --text-color */
  /* the secondary text color is --text-color-secondary  */
}

main {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

h1.title {
  font-size: 3.5rem;
  text-align: left;
  font-weight: 700;
  color: var(--text-color);
}

h2.subtitle {
  font-size: 2rem;
  text-align: left;
  font-weight: 600;
  color: var(--text-color-secondary);
}

h3.section-title {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 600;
  color: var(--text-color-secondary);
}

p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: left;
  color: var(--text-color);
  word-break: break-word;
}

p.description {
  font-weight: 500;
  color: var(--text-color);
}

p.question {
  color: var(--text-color-secondary);
  font-weight: normal;
}

p.help {
  font-size: 0.9rem;
  color: var(--text-color-secondary);
  margin-top: 0.5rem;
}

.long-scrollable-text-x {
  word-wrap: break-word;
}

div.spacer-4rem {
  height: 4rem;
}

div.spacer-3rem {
  height: 3rem;
}

div.spacer-2rem {
  height: 2rem;
}

div.spacer-1rem {
  height: 1rem;
}

div.navigation-bar-padder {
  height: 7rem;
}

.flex-column-gap1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-gap1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.shadow {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.card {
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 1px 1px hsla(0, 0%, 58%, 0.075),
    0 2px 2px hsla(0, 0%, 65%, 0.075), 0 4px 4px hsla(0, 0%, 44%, 0.075),
    0 8px 8px hsla(0, 0%, 53%, 0.075), 0 8px 8px hsla(0, 0%, 49%, 0.075),
    0 -1px 1px hsla(0, 0%, 86%, 0.075), 0 -2px 2px hsla(0, 0%, 82%, 0.075);
}

.balance {
  font-size: 3rem;
  font-weight: 700;
  color: var(--custom-blue);
}

div.top-buttons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5rem;
}
