<script setup>
import { onBeforeMount } from "vue";
import WelcomeScreen from "./components/WelcomeScreen.vue";
import { useDefaultStore } from './stores/index'
const store = useDefaultStore()

// si vous voulez utilisez pinia , il faut placer ces deux lignes dans le composant de votre choix.
//import { useDefaultStore } from './stores/index'
//const store = useDefaultStore()
import Toast from 'primevue/toast';

onBeforeMount(() => {
  store.checkAPIs()
  // we do not check that the APIs are active before checking auth because checking APIs is not synchronous so we do not want to rely on the old value of allAPIs active in localstorage
  store.checkAuthentication()
})
</script>

<template>
  <main>
    <router-view v-slot="{ Component }">
      <transition name="fade" mode="out-in">
        <component :is="Component" :key="$route.path" />
      </transition>
    </router-view>
    <Toast />
  </main>
</template>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
